---
import ImageComponent from '../../components/ImageComponent.astro';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import '../../styles/posts.css';
export const prerender = false;
const params = Astro.url.searchParams.get('tag');
const posts = (await getCollection('blog')).filter((post) => {
	if (params) {
		return post.data.tags && post.data.tags.map((tag) => encodeURIComponent(tag)).includes(encodeURIComponent(params));
	}
	return true;
}).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li class={params ? 'tag_filter' : ''}>
								<a href={`/blog/${post.slug}/`}>
									<ImageComponent width={720} height={360} imagePath={post.data.heroImage} altText="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
								{
									post.data.tags && (
										<p class="tags">
											{
												post.data.tags.map((tag) => (
													<a class={encodeURIComponent(tag)===encodeURIComponent(params) ? 'tag active' : 'tag'}
														href={`/blog${encodeURIComponent(tag)===encodeURIComponent(params) ? '' : '?tag='+encodeURIComponent(tag)}`}>{tag}</a>
												))
											}
										</p>
									)								
								}
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
